.login-page {

    text-align: center;
    background-color:#557BE2;
    padding-top: 40;

    .header {
        color: white;
        &.big {
            font-weight: bold;
            font-size: 28;  
            margin-bottom: 15;
        }
        &.medium {
            font-size: 24;
            margin-bottom: 60;
        }
        &.small {
            font-size: 18;
            margin-bottom: 60;
        }
    }

    TextField {
        height: 80;
        border-width: 0 0 1 0;
        border-bottom-color: #3ACFD5;
        width: 95%;
        color: white;
        placeholder-color: #fff;
    }

    Button {
        margin-top: 120;
        min-height: 60;
        width: 95%;
        border-radius: 30;
        background-color: #F0F3F6;
        color: #557BE2;
    }

}