.paths-page {

    background-color: white;
    padding-left: 8;
    padding-right: 8;

    #header {
        font-size: 24;
        
        Label {
            color: #888888;
        }

    }

    .dropdown {
        padding: 10;
        padding-right: 20;
        border-width: 2;
        border-color: black;
    }

}
.cardStyle {
    background-color: #fff;
    border-radius: 30;
}