.information {

    $radius: 20;

    text-align: center; 
    
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    border-width: 16;
    border-color: white;

    background-color: white;

    .title {
        font-size: 24;
        color: #737B91;
    }
    
    .subtitle {
        font-size: 15;
        color: #BFC5D1;
    }

    .content {
        text-align: left;
        font-size:18;
        color: #737B91;
        margin-top: 24;
    }

}

.information.black { 
    color: white;  
    background-color:
    #20254b; border-color: #20254b
}
